---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import Header from '../../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';
import RootLayout from '../../layouts/RootLayout.astro';
import BlogIndex from '../../layouts/BlogIndex.astro';
import Stack from '../../components/primitives/Stack/Stack';
import SectionHeading from '../../components/page/Frontpage/SectionHeading/SectionHeading';
import SelectedBlogList from '../../components/page/Frontpage/SelectedBlogs/SelectedBlogList';
import type { SelectedBlogData } from '../../data/selected-blogs';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
const sortedPosts = posts.reduce((merge, post) => {

	const year = post.data.date.getFullYear();

	if(!(year in merge)) {
		merge[year] = [];
	}
	merge[year].push({
		title: post.data.title,
		url: `/blog/${post.id}/`
	});

	return merge
}, {} as Record<string, SelectedBlogData[]>)

const sortedPostsKeys = Object.keys(sortedPosts);

console.log('posts', sortedPosts, sortedPostsKeys)

---

<RootLayout>
	<BlogIndex>
	<Stack gap="var(--space-10)">
{
	sortedPostsKeys.map(year => (
		<Stack key={year} gap="var(--space-6)">
			<SectionHeading small title={year} />
			<Stack>
				<SelectedBlogList posts={sortedPosts[year]} />
			</Stack>
		</Stack>
	))
}

			<!-- {
				posts.map((post) => (
					<li>
						<a href={`/blog/${post.id}/`}>
							{post.data.cover_image && (
								<Image width={720} height={360} src={post.data.cover_image} alt="" />
							)}
							<h4 class="title">{post.data.title}</h4>
							<p class="date">
								<FormattedDate date={post.data.date} />
							</p>
						</a>
					</li>
				))
			} -->
	</Stack>
	</BlogIndex>
</RootLayout>
