---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';
import "../components/page/BlogPost/BlogPost.css"
import BlogPostTitle from '../components/page/BlogPost/BlogPostTitle/BlogPostTitle';
import BlogPostDate from '../components/page/BlogPost/BlogPostDate/BlogPostDate';
import Stack from '../components/primitives/Stack/Stack';
import BlogPostTitleBG from '../components/page/BlogPost/BlogPostTitle/BlogPostTitleBG';
import BlogTags from '../components/page/BlogPost/BlogTags/BlogTags';
import BlogTOCReadTracker from '../components/page/BlogPost/BlogTOCReadTracker/BlogTOCReadTracker';
import BlogTOCWaveform from '../components/page/BlogPost/BlogTOCWaveform/BlogTOCWaveform';
import map from '../utils/map';

type Props = CollectionEntry<'blog'>['data'] & {
	body: string | undefined;
};

const { 

	title,
section,
tags,
date,
cover_image,
body
 } = Astro.props;

// Process blog content into pseudo waveform
// A waveform is just an array of numbers, the bigger the array the higher the resolution.
// We take the raw MDX text and sample it at set intervals to get enough waveform data.
const WAVEFORM_SIZE = 1024;
const waveform = body ? [] : new Array(WAVEFORM_SIZE).fill(0).map(() => Math.random());
const textLength = body ? body.length : 1;
const segmentSize = Math.round(textLength / WAVEFORM_SIZE);
for (let index = 0; index < WAVEFORM_SIZE; index++) {
	if(!body) break;

	const textIndex = Math.round(segmentSize * index);
	if(textIndex >= body.length) break;

	const text = body[textIndex].toLocaleLowerCase();
	let score = 0;
	if(typeof text == 'number') {
		score = text / 9;
	} else {
		// Get the UTF-16 code for the string (number from 0 and 65535)
		// `a` begins at 97 -- so it'll mostly be above that range
		// We cap at 150 to keep it simple, since the range would be immense usually.
		// score = (Math.min(text.charCodeAt(0), 150) / 150) -1;
		score = map(Math.min(text.charCodeAt(0), 150), 0, 150, -1, 1);
	}

	waveform.push(score);
}

---

<section class="BlogPostPage">
	<div class="BlogPostTitleContainer">
	<BlogPostTitleBG client:load image={cover_image} />
	<BlogPostTitle title={title} />
	</div>
	<article class="BlogPost">
		<Stack horizontal>
			<BlogPostDate date={date} />
		</Stack>
		<!-- <div class="hero-image">
			{cover_image && <Image width={1020} height={510} src={cover_image} alt="" />}
		</div> -->
		<div id="BlogPostContent" class="content">
			<slot />
		</div>
	</article>
	<BlogTags client:load tags={tags} />
	<!-- <BlogTOCReadTracker client:load /> -->
	<BlogTOCWaveform waveform={waveform} client:load />
</section>
